
body {
  background: #FFE873;
  font-family: Arial;
}

header {
  text-align: center;
  margin-top: -8px;
}

#logo {
  background: white;
  display: inline-block;
  padding-left: 30px;
  padding-top: 20px;
}

h1 {
  font-family: Tahoma;
}

/* textarea */

textarea {
  background: lightgrey;
  height: 20vh;
  width: 80vw;
  margin-left: 10vw;
}

input, select {
  background: white;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

input {
  padding: 10px 15px;
}

select {
  padding: 15px 15px;
}

.name {
  margin-top: 2em;
}

.block {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  min-width: 60px;
}

/* colours */

.purple {
  background: purple;
}
