
body {
  background: #FFE873;
  font-family: Arial;
}

header {
  text-align: center;
}

h1 {
  font-family: Tahoma;
}

/* textarea */

textarea {
  background: lightgrey;
  height: 20vh;
  width: 80vw;
  margin-left: 10vw;
}

/* buttons */

#button {
  padding: 1em 2em;
}

.name {
  background: #646464;
  border: 1px solid black;
  border-radius: 7px;
  color: white;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
}

input, select {
  background: white;
  cursor: pointer;
  font-size: 15px;
  margin: 4px 2px;
  padding: 15px 15px;
  text-align: center;
}

.name {
  margin-top: 2em;
}

.block {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  min-width: 60px;
}

input[type="number"] {
  width: 40px;
}

.subheading {
  border: 1px solid black;
  padding: 5px 5px;
}

#keyword-argument-btn {
  color: black;
  border: 2px solid coral;
}

/* colours  - background */

.azure {
  background-color: rgb(0,127,255);
}

.cyan-blue-azure {
  background: #4B8BBE;
}

.brown {
  background: brown;
}

.chartreuse {
  background: chartreuse;
}

.coral {
  background: coral;
}

.crimson {
  background: crimson;
}

.lightcrimson {
  background-color: rgb(255,66,121);
}

.cyan {
  background: cyan;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.grey {
  background: grey;
}

.purple {
  background: purple;
}

.springgreen {
  background: springgreen;
}

.violet {
  background: violet;
}

/* colours - text */

.chartreuse, .coral, .cyan, .lightcrimson, .springgreen, .violet {
  color: black;
}

.hidden {
  display: none;
}
